@model SistemaDAP.Models.tipo_herramienta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tipo_herramienta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion_tipo_herramienta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_tipo_herramienta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_tipo_herramienta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
